{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Document</title>
</head>
<body id ="hello" aling = "center">
  <div id="header_text">
      <h1>Diabetes predictor</h1>
      <h4>
          Prevention is better than cure
      </h4>
      <form action ="predict">
          <input type="submit" value="Lets predit">
      </form>

  </div></body>
</html>