<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/predict.css">
    <title>Document</title>
</head>
<body>
    <div id ="main_cont">
        <div id= "header">
        <div id="title" >
             <h1>
                Ready to predict
            </h1>
        </div>
        </div>
<div>
    <h1>
        Please enter the all the information accurately
    </h1>
    <form action="result" id="table">
        <table>
           <tr id="row">
               <td align = "right">
                   Pregnancy
               </td>
               <td align="left">
                   <input type="text" name ="n1">
               </td>
           </tr>
           <tr  id="row">
            <td align = "right">
                Glucose
            </td>
            <td align="left">
                <input type="text" name ="n2">
            </td>
        </tr>
        <tr id="row">
            <td align = "right">
                Blood pressure
            </td>
            <td align="left">
                <input type="text" name ="n3">
            </td>
        </tr>
        <tr id ="row">
            <td align = "right">
               Skin thickness
            </td>
            <td align="left">
                <input type="text" name ="n4">
            </td>
        </tr>
        <tr id="row">
            <td align = "right">
                Insulin
            </td>
            <td align="left">
                <input type="text" name ="n5">
            </td>
        </tr>
        <tr>
            <td align = "right">
                Body Mass Index(BMI)
            </td>
            <td align="left">
                <input type="text" name ="n6">
            </td>
        </tr>
        <tr id = "row">
            <td align = "right">
                Diabetes pedigree
            </td>
            <td align="left">
                <input type="text" name ="n7">
            </td>
        </tr>
        <tr id="row">
            <td align = "right">
                Age
            </td>
            <td align="left">
                <input type="text" name ="n8">
            </td>
        </tr>
        </table>
        <button type ="submit" id="button">predict</button>
        Result :{{result2}}
    </form>
  
</div>
        
    </div>
</body>
</html>